@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.paragraphText {
  line-height: 1.5rem;
  color: #353535;
}

.mainHeading {
  color: black;
  font-size: 3rem;
}

.carousel-inner {
  height: 90vh;
}

header {
  z-index: 1;
}

.heroImage {
  width: 100%;
  height: 50%;
  position: absolute;
}

#first {
  background: url("../img/zion.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#second {
  background: url("../img/zion2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center bottom;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
  position: fixed;
  padding: 20px;
  width: 100vw;
}

header .logo {
  height: 100%;
  margin-right: 0;
}

header .logo img {
  top: 50%;
  display: block;
  width: 140px;
  z-index: 2;
  position: relative;
}

header .headerTop {
  font-size: 14px;
  background: rgba(0, 145, 133, 0.719);
  background: #020074;
  top: 0;
  position: absolute;
  width: 100%;
  height: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #d4d4d4;
  font-weight: bold;
}

header .headerTop p {
  margin: 0 15px;
}

header .headerTop .heroTopSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

header .headerTop .heroTopSocials svg {
  margin: 10px;
}

header .main-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav ul {
  overflow: hidden;
  width: 100%;
}

header .main-nav ul li {
  position: relative;
  list-style-type: none;
  float: left;
}

header .main-nav ul li a {
  text-transform: uppercase;
  color: #020074;
  font-weight: bold;
}

header .main-nav ul li::after {
  position: absolute;
  bottom: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  background: #020074;
  width: 40px;
  height: 3px;
  margin-right: 10px;
}

.hero-Content {
  position: relative;
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-Content .content {
  background: rgba(78, 78, 78, 0.74);
  padding: 40px;
  color: white;
  text-align: center;
}

.hero-Content .content h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: serif;
}

.hero-Content .content p {
  font-size: 1.3rem;
  font-weight: 700;
}

.button {
  border-radius: 0;
  outline: none;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
}

#cta-btn {
  background: #313131;
  width: 150px;
  color: white;
  position: relative;
  font-weight: bold;
  border: 3px solid transparent;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#cta-btn:focus {
  outline: none;
}

#cta-btn:hover {
  border: 3px dashed white;
}
/*# sourceMappingURL=styles.css.map */