.paragraphText {
  line-height: 1.5rem;
  color: #353535;
}

.mainHeading {
  color: black;
  font-size: 3rem;
}

.carousel-inner {
  height: 90vh;
}

.carousel-inner .carousel-item {
  position: relative;
}

.carousel-inner .carousel-item .overlay {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 88, 88, 0.425);
}

.heroImage {
  width: 100%;
  height: 50%;
  position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

#first {
  background: url("../img/zion.jpeg"), rgba(0, 88, 88, 0.425);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#second {
  background: url("../img/zion2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center bottom;
}

@media screen and (max-width: 768px) {
  #second {
    background-position: center right;
  }
  #first {
    background-position: right bottom;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 3;
  position: absolute;
  padding: 30px;
  width: 100%;
  top: 0;
  left: 0;
}

header .logo {
  height: 100%;
  margin-right: auto;
}

header .logo img {
  display: block;
  width: 140px;
  z-index: 2;
  position: relative;
}

header .headerTop {
  font-size: 14px;
  background: rgba(2, 129, 80, 0.753);
  top: 0;
  position: absolute;
  width: 100%;
  height: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
}

header .headerTop p {
  margin: 0 15px;
}

header .headerTop .heroTopSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

header .headerTop .heroTopSocials svg {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  header .headerTop {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 13px;
    padding: 3px;
    text-align: center;
  }
  header .headerTop p {
    margin-bottom: 0;
  }
}

header .main-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav .toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

header .main-nav ul {
  overflow: hidden;
  width: 100%;
  margin: 0;
}

header .main-nav ul li {
  position: relative;
  list-style-type: none;
  float: left;
}

header .main-nav ul li a {
  text-transform: uppercase;
  color: #020074;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  header .main-nav ul li a {
    color: white;
  }
}

header .main-nav ul li.active::after {
  position: absolute;
  bottom: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  background: #00af17;
  width: 25px;
  height: 3px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  header .main-nav {
    width: 100%;
    position: absolute;
    -webkit-animation: none;
            animation: none;
    right: 0;
    height: 100vh;
    z-index: 50001;
    top: 0;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
  }
  header .main-nav li.nav-item:nth-child(1) {
    -webkit-animation: fadeInDownMain 0.5s 0s ease-in-out forwards;
            animation: fadeInDownMain 0.5s 0s ease-in-out forwards;
  }
  header .main-nav li.nav-item:nth-child(2) {
    -webkit-animation: fadeInDownMain 0.5s 0.1s ease-in-out forwards;
            animation: fadeInDownMain 0.5s 0.1s ease-in-out forwards;
  }
  header .main-nav li.nav-item:nth-child(3) {
    -webkit-animation: fadeInDownMain 0.5s 0.2s ease-in-out forwards;
            animation: fadeInDownMain 0.5s 0.2s ease-in-out forwards;
  }
  header .main-nav li.nav-item:nth-child(4) {
    -webkit-animation: fadeInDownMain 0.5s 0.3s ease-in-out forwards;
            animation: fadeInDownMain 0.5s 0.3s ease-in-out forwards;
  }
  header .main-nav.active {
    visibility: visible;
    opacity: 1;
  }
  header .main-nav.active li.nav-item:nth-child(1) {
    opacity: 0;
    -webkit-animation: fadeInUp 0.5s 0.2s ease-in-out forwards;
            animation: fadeInUp 0.5s 0.2s ease-in-out forwards;
  }
  header .main-nav.active li.nav-item:nth-child(2) {
    opacity: 0;
    -webkit-animation: fadeInUp 0.5s 0.35s ease-in-out forwards;
            animation: fadeInUp 0.5s 0.35s ease-in-out forwards;
  }
  header .main-nav.active li.nav-item:nth-child(3) {
    opacity: 0;
    -webkit-animation: fadeInUp 0.5s 0.40s ease-in-out forwards;
            animation: fadeInUp 0.5s 0.40s ease-in-out forwards;
  }
  header .main-nav.active li.nav-item:nth-child(4) {
    opacity: 0;
    -webkit-animation: fadeInUp 0.5s 0.55s ease-in-out forwards;
            animation: fadeInUp 0.5s 0.55s ease-in-out forwards;
  }
  header .main-nav ul {
    position: absolute;
    top: 0;
    margin: 0;
    background: rgba(4, 151, 95, 0.966);
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .main-nav ul li {
    float: none;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: lightgray !important;
  }
  header .main-nav ul li::after {
    display: none;
  }
  header .toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 50001;
  }
  header .logo img {
    width: 120px;
  }
}

.hero-Content {
  position: relative;
  width: 100%;
  height: 90vh;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-Content .content {
  padding: 30px;
  color: white;
  text-align: center;
}

.hero-Content .content h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: serif;
}

.hero-Content .content p {
  font-size: 1.3rem;
  font-weight: 700;
}

.button {
  border-radius: 0;
  outline: none;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
}

#cta-btn {
  background: green;
  width: 150px;
  color: white;
  position: relative;
  font-weight: bold;
  border: 3px solid transparent;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#cta-btn:focus {
  outline: none;
}

#cta-btn:hover {
  border: 3px dashed white;
  opacity: 0.8;
}

.carousel-control-next,
.carousel-control-prev {
  height: 60%;
  z-index: 5;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backToTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background: #020074;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  cursor: pointer;
}

/* About Us Section */
#aboutUs {
  background: #e1f3e1;
  padding: 80px 0;
}

.test h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.test p {
  text-align: justify;
  line-height: 1.8rem;
  font-size: 18px;
  word-spacing: 3px;
}

.test img {
  width: 90%;
}

.line {
  width: 100%;
  background-color: #a3dba3;
  height: 5px;
  border-radius: 5px;
  padding-left: 100%;
}

.line1 {
  width: 220px;
  background-color: #a3dba3;
  height: 5px;
  border-radius: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 64%;
  margin-top: -120px;
}

.services {
  margin-top: 30px;
}

.serve > img {
  width: 40%;
}

.toggler {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.toggler .bar {
  width: 25px;
  height: 2px;
  background: white;
  margin-bottom: 4px;
}

.toggler .bar:nth-of-type(1) {
  width: 20px;
}

.toggler .bar:nth-of-type(3) {
  width: 16px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 65px 0 0 0;
  }
  .hero-Content .content h1 {
    font-size: 35px;
  }
  .hero-Content .content p {
    font-size: 16px;
  }
  .hero-Content .content button#cta-btn {
    width: 120px;
    height: 50px;
    font-size: 15px;
  }
  .test h1 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .test p {
    font-size: 16px;
  }
  .test img {
    width: 70%;
    margin: auto;
    display: block;
  }
  .backToTop {
    width: 30px;
    height: 30px;
    font-size: 15px;
    z-index: 5000;
  }
  #aboutUs {
    padding: 50px 0;
  }
}

.heading {
  position: relative;
}

.heading .underline {
  position: absolute;
  height: 3px;
  width: 100px;
  background: #00af17;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10%;
}

.heading .underline .triangle {
  width: 15px;
  height: 15px;
  background: green;
  position: relative;
  top: -6px;
  left: 13px;
}

#ourServices {
  min-height: 80vh;
  margin-bottom: 50px;
  position: relative;
}

.service img {
  width: 100px;
  height: 100px;
}

#replacementHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1000;
  position: fixed;
  padding: 15px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  background: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0px 3px 8px 2px gray;
          box-shadow: 0px 3px 8px 2px gray;
}

#replacementHeader .toggler .bar {
  background: green;
}

.wrapper {
  width: 70%;
  margin: auto;
}

a.lightbox-stuff {
  display: block;
  margin: auto;
  height: 250px;
  border: 3px solid #020074;
  background-size: cover;
  text-decoration: none;
  position: relative;
}

a.lightbox-stuff#one {
  background: url("../img/800px-Solar_panels_on_a_roof.jpg");
}

a.lightbox-stuff#four {
  background: url("../img/cctv to use.png") no-repeat;
  background-position: -350px -350px;
}

a.lightbox-stuff#five {
  background: url("../img/zion-intercom.png") center no-repeat;
}

a.lightbox-stuff#six {
  background: url("../img/zion-satellite.png") no-repeat;
  background-size: cover;
}

a.lightbox-stuff#three {
  background: url("../img/electric fence.jpeg");
  background-size: cover;
}

a.lightbox-stuff#two {
  background: url("../img/zion workers.jpg");
  background-size: cover;
}

a.lightbox-stuff .lightbox-text {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-align: center;
  position: absolute;
  bottom: 0px;
  margin: 0;
}

a.lightbox-stuff:hover .lightbox-text {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#020074));
  background: linear-gradient(to bottom, transparent, #020074);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  color: white;
  font-size: 22px;
}

.heading {
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}

section#contactUs {
  width: 100%;
  background: url("../img/contact-bg.jpg") fixed;
  background-position: bottom left;
}

section#contactUs .main-form {
  width: 100%;
}

section#contactUs .main-form input.form-control,
section#contactUs .main-form textarea.form-control {
  border-radius: 0;
  height: 50px;
  font-size: 14px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
}

section#contactUs .main-form textarea.form-control {
  height: 130px;
}

section#contactUs .main-form input.form-control:focus,
section#contactUs .main-form textarea.form-control:focus {
  border: 2px solid darkgreen;
  -webkit-box-shadow: inset 3px 0px 7px gray !important;
          box-shadow: inset 3px 0px 7px gray !important;
}

section#contactUs .main-form input.form-control:hover,
section#contactUs .main-form textarea.form-control:hover {
  background: #f1f1f1;
}

section#contactUs .main-form button {
  border: 2px solid darkgreen;
  border-radius: 0;
  font-weight: bold;
  width: 130px;
  margin-left: 0 !important;
  margin-top: 30px;
  background: white;
  color: darkgreen;
  height: 40px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

section#contactUs .main-form button:hover {
  background: darkgreen;
  color: white;
}

.second {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer {
  padding-top: -100px;
  position: relative;
  background: #e1f3e1;
}

footer iframe {
  display: block;
  height: 400px;
  width: 100%;
  border: 2px solid white;
}

footer .least {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background: darkgreen;
  padding: 10px;
}

footer .least p {
  margin: 0;
  font-weight: lighter;
  color: white;
}

footer .least p a {
  color: white;
  text-decoration: none;
}

footer .least p a:hover {
  text-decoration: underline;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 70px;
  background: #e8f5e8;
  margin: 10px;
  border-radius: 30%;
  -webkit-box-shadow: 0 5px 15px -5px #00000070;
          box-shadow: 0 5px 15px -5px #00000070;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: green;
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

.btn svg {
  line-height: 90px;
  font-size: 20px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.btn:hover svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f1f1f1;
}

.btn::before {
  content: '';
  position: absolute;
  height: 120%;
  width: 120%;
  background: green;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  -webkit-animation: aaa 0.7s 1;
          animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@-webkit-keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}

.second-footer-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.second-footer-col p {
  text-align: center;
}

.second-footer-col p svg {
  width: 100% !important;
}

@media screen and (max-width: 768px) {
  footer {
    position: relative;
  }
  .end-text {
    -webkit-transform: none;
            transform: none;
  }
  .share {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social1 {
    display: none;
  }
  #replacementHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: 5px;
  }
  header .main-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: -100px;
  }
  .item2 {
    padding-left: 100px;
  }
  .second {
    background-color: #e1f3e1;
    width: 100%;
  }
}

.main #main1 {
  background-image: url("../img/zion2.gif");
  width: 100%;
  height: 500px;
  background-position: bottom center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main h3 {
  font-weight: 600;
  color: #ffffff;
  font-size: 50px;
}

@media screen and (max-width: 470px) {
  .main #main1 {
    width: auto;
  }
  .sat {
    margin-left: -90px;
  }
}

.main #item1 {
  width: 300px;
  margin-left: 350px;
}

.main .item2 {
  margin-left: -100px;
}

.main .first {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 50px;
  margin-bottom: 50px;
}

.middle {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  background-color: #e1f3e1;
}

.middle p {
  font-weight: 500;
}

@-webkit-keyframes loaderAnimation {
  70% {
    height: 100vh;
    opacity: 1;
    display: block;
  }
  100% {
    height: 0vh;
    opacity: 0;
    display: none;
  }
}

@keyframes loaderAnimation {
  70% {
    height: 100vh;
    opacity: 1;
    display: block;
  }
  100% {
    height: 0vh;
    opacity: 0;
    display: none;
  }
}

.firstAnimation {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: loaderAnimation 2s linear;
          animation: loaderAnimation 2s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.firstAnimation img {
  display: block;
}

.row {
  --bs-gutter-x: 0 !important;
}

.row div {
  --bs-gutter-x: 1.5rem;
}

.image-testimonial-small {
  width: 250px;
  height: 250px;
  margin: auto;
  border-radius: 50%;
  border: 4px solid gray;
  margin-bottom: 20px;
}

.review-1 {
  background: url("../img/zion-logo.png");
  background-size: cover;
}

.review-2 {
  background: url("../img/zion2.gif");
  background-size: cover;
}

.review-3 {
  background: url("../img/left satellite.png");
  background-size: cover;
}

section#testimonials {
  background: #e1f3e1;
  position: relative;
}

.customer {
  color: darkgreen;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
}

.owl-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
<<<<<<< HEAD
/*# sourceMappingURL=styles.css.map */
=======

@media screen and (max-width: 768px) {
  .carousel-control-next,
  .carousel-control-prev {
    z-index: 2;
  }
  .headerTop p {
    font-size: 12px;
  }
  .wrapper {
    width: 90%;
  }
  form p {
    font-weight: normal;
  }
  section#contactUs {
    background-position: center bottom;
  }
  .second {
    background: none;
  }
  form button {
    margin: auto !important;
  }
  .btn {
    width: 55px;
    height: 55px;
    margin: 5px;
  }
}
>>>>>>> 38b2decaac6711dcc6922efcd08f3f2721a66ab1
