@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

$primaryColor: rgb(2, 0, 116);
$buttonColor: rgb(0, 175, 23);
$paragraphTextColor: #353535;
$overlayColor: rgba(0, 145, 133, 0.719);
$mainHeading: 3rem;
$secondaryColor: rgb(0, 255, 64);

.paragraphText{
  line-height: 1.5rem;
  color: $paragraphTextColor;
}
.mainHeading{
  color: black;
  font-size: $mainHeading;
}

.carousel-inner{
    height: 90vh;
}
header{
    z-index: 1;
}
.heroImage{
  width: 100%;
  height: 50%;
  position: absolute;
}
#first{
    background: url('../img/zion.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#second{
    background: url('../img/zion2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center bottom;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans";
}
header{
  display: flex;
  align-content: center;
  z-index:1;
  position: fixed;
  z-index: 10;
  padding: 20px;
  width: 100vw;
  height: 70px;
  background:transparent;
  z-index: 100000;

  .logo{
    margin-left: auto;
    height: 100%;
    margin-right: 0;

    img{
      top: 50%;
      display: block;
      width: 140px;
      z-index: 2;
      position: relative;
    }
  }

  .headerTop{
    font-size: 14px;
    background: $overlayColor;
    background: $primaryColor;
    top: 0;
    position: absolute;
    width: 100%;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 212, 212);
    font-weight: bold;

    p{
      margin: 0 15px;
    }
    .heroTopSocials{
      display: flex;
      align-items: center;
      align-self: center;
      svg{
        margin: 10px;
      }
    }
  }
  .main-nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    ul{
      overflow: hidden;
      width: 100%;
      li{
          position: relative;
          list-style-type: none;
          float: left;
          a{
            text-transform: uppercase;
            color: $primaryColor;
            font-weight: bold;
          }
        }
      li::after{
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        background:white;
        width: 40px;
        height: 3px;
        margin-right: 10px;
      }
    }
  }
}
.hero-Content{
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .content{
    background: rgba(78, 78, 78, 0.74);
    padding: 40px;
    color: white;
    text-align: center;
    h1{
      font-size: 3.6rem;
      text-transform: uppercase;
      font-weight: bold;
      font-family: serif;
    }
    p{
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}
.button{
  border-radius: 0;
  outline: none;
  background: none;
  border: none;
  appearance: none;
  padding: 10px;
}
#cta-btn{
  background: green;
  width: 150px;
  color: white;
  position: relative;
  font-weight: bold;;
  border: 3px solid transparent;
  transition: all 0.6s;
}
#cta-btn:focus{
  outline: none;  
}
#cta-btn:hover{
  border: 3px dashed white;
}
.carousel-control-next,
.carousel-control-prev{
 height: 60%;
 top: 50%;
 transform: translateY(-50%)
}
.backToTop{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background: $primaryColor;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}
.test{
    max-width: 700px;
    justify-content: center;
    align-items: center;
    // position: absolute;
    margin-left: 25%;
    // left:24%;
    margin-top: 20px;

}
.line{
    width: 100%;
    background-color:rgb(163, 219, 163);
    height: 5px;
    border-radius: 5px;
    padding-left: 100%;
}
.line1{
    width: 20px;
    background-color:rgb(163, 219, 163);
    height: 5px;
    border-radius: 5px;
    padding-left: 30%;
    transform: rotate(90deg);
    position: absolute;
    left: 90%;
    margin-top: -120px;
}
.services{
    margin-top: 60px;
    margin-left: 200px;
}
.serve *{
  margin-right: auto;
  box-sizing: border-box;
}
.serve *:hover{
  // transform: scaleY(1.1);

}
.serve > img{
     width: 40%;
     background-color: red;
      }
.pic{
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.pic-description{
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-weight: 700;
  background-color: rgba(0,0,0,.65);
  padding: 15px 25px;
  opacity: 0;
  transition-property: all;
  transition-duration: 1s;
  transform: translateY(100%);
  width: 90%;
  text-align: center;
  margin-left: 5px;
}
.pic:hover .pic-description{
  transform: translateY(0);
  opacity: 1;
}
.get > h2{
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
} 
.about{
  margin-top: 100px;
  text-align: center;
  max-width: 700px;
}
#aboutUs>p{
  padding-top: 40px;
}
#zion{
  float: left;
  margin-right: -80px;
}

//  FORM

/* FORM */
@import url('https://rsms.me/inter/inter-ui.css');
::selection {
 background: #2D2F36;
 }
 ::-webkit-selection {
   background: #2D2F36;
 }
::-moz-selection {
   background: #2D2F36;
    }
body {
   background: white;
   font-family: 'Inter UI', sans-serif;
   margin: 0;
 }
  .page {
   background: #e2e2e5;
   display: flex;
   flex-direction: column;
   height: calc(100% - 40px);
   position: absolute;
  place-content: center;
  width: 100%;
  margin-left: -200px;
 }
 @media (max-width: 767px) {
   .page {
     height: auto;
     margin-bottom: 20px;
     padding-bottom: 20px;
   }
 }
 .container {
   display: flex;
   height: 320px;
   margin: 0 auto;
   width: 640px;
 }
 @media (max-width: 767px) {
   .container {
     flex-direction: column;
     height: 630px;
    width: 320px;
   }
}
 .left {
   background: white;
   height: calc(100% - 40px);
   top: 20px;
   position: relative;
   width: 50%;
 }
 @media (max-width: 767px) {
   .left {
     height: 100%;
     left: 20px;
     width: calc(100% - 40px);
     max-height: 270px;
   }
 }
 .login {
   font-size: 30px;
   font-weight: 500;
   margin: 10px 40px 40px;
 }
 .eula {
   color: rgb(78, 77, 77);
   font-size: 14px;
   line-height: 1.5;
   margin-left: 40px;
   margin-right: 40px;

 }
 .right {
   background: #474A59;
   box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
   color: #F1F1F2;
   position: relative;
   width: 50%;
 }
 @media (max-width: 767px) {
   .right {
     flex-shrink: 0;
     height: 100%;
     width: 100%;
     max-height: 350px;
   }
 }
 svg {
    position: absolute;
   width: 320px;
 }
 path {
   fill: none;
   stroke: url(#linearGradient);;
  stroke-width: 4;
   stroke-dasharray: 240 1386;
 }
 .form {
  margin: 40px;
   position: absolute;
 }
 label {
   color:  #c2c2c5;
   display: block;
   font-size: 14px;
  height: 16px;
   margin-top: 20px;
  margin-bottom: 5px;
 }
 input {
   background: transparent;
   border: 0;
   color: #f2f2f2;
   font-size: 20px;
   height: 30px;
   line-height: 30px;
   outline: none !important;
   width: 100%;
 }
 input::-moz-focus-inner { 
   border: 0; 
 }
 #submit {
   color: #707075;
   margin-top: 30px;
   transition: color 300ms;

 }
 #submit:focus {
      color: #f2f2f2;
 }
#submit:active {
   color: #d0d0d2;
 }
 @media (min-width: 767px){
   .form{
     margin-top: 10px;
   }
  }
  // footer{
  //   z-index: 10;
  //   text-align: center;
  //   position: relative;
  // }
  // footer>p{
  //   position: absolute;
  //   bottom: 0;
  // }