@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-BoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face{
  font-family: 'Open Sans';
  src: url('../fonts//OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

$primaryColor: rgb(2, 0, 116);
$buttonColor: rgb(0, 175, 23);
$paragraphTextColor: #353535;
$overlayColor: rgba(0, 145, 133, 0.719);
$mainHeading: 3rem;
$secondaryColor: rgb(0, 255, 64);

.paragraphText{
  line-height: 1.5rem;
  color: $paragraphTextColor;
}
.mainHeading{
  color: black;
  font-size: $mainHeading;
}

.carousel-inner{
    height: 90vh;
}
header{
    z-index: 1;
}
.heroImage{
  width: 100%;
  height: 50%;
  position: absolute;
}
#first{
    background: url('../img/zion.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#second{
    background: url('../img/zion2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: center bottom;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Open Sans";
}
header{
  display: flex;
  align-content: center;
  z-index:1;
  position: fixed;
  z-index: 10;
  padding: 20px;
  width: 100vw;
  height: 70px;
  background:transparent;
  z-index: 100000;

  .logo{
    margin-left: auto;
    height: 100%;
    margin-right: 0;

    img{
      top: 50%;
      display: block;
      width: 140px;
      z-index: 2;
      position: relative;
    }
  }

  .headerTop{
    font-size: 14px;
    background: $overlayColor;
    background: $primaryColor;
    top: 0;
    position: absolute;
    width: 100%;
    height: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(212, 212, 212);
    font-weight: bold;

    p{
      margin: 0 15px;
    }
    .heroTopSocials{
      display: flex;
      align-items: center;
      align-self: center;
      svg{
        margin: 10px;
      }
    }
  }
  .main-nav{
    margin-left: auto;
    display: flex;
    align-items: center;
    ul{
      overflow: hidden;
      width: 100%;
      li{
          position: relative;
          list-style-type: none;
          float: left;
          a{
            text-transform: uppercase;
            color: $primaryColor;
            font-weight: bold;
          }
        }
      li::after{
        position: absolute;
        bottom: 4px;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        background:white;
        width: 40px;
        height: 3px;
        margin-right: 10px;
      }
    }
  }
}
.hero-Content{
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .content{
    background: rgba(78, 78, 78, 0.74);
    padding: 40px;
    color: white;
    text-align: center;
    h1{
      font-size: 3.6rem;
      text-transform: uppercase;
      font-weight: bold;
      font-family: serif;
    }
    p{
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}
.button{
  border-radius: 0;
  outline: none;
  background: none;
  border: none;
  appearance: none;
  padding: 10px;
}
#cta-btn{
  background: green;
  width: 150px;
  color: white;
  position: relative;
  font-weight: bold;;
  border: 3px solid transparent;
  transition: all 0.6s;
}
#cta-btn:focus{
  outline: none;  
}
#cta-btn:hover{
  border: 3px dashed white;
}
.carousel-control-next,
.carousel-control-prev{
 height: 60%;
 top: 50%;
 transform: translateY(-50%)
}
.backToTop{
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background: $primaryColor;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
}
.test{
    max-width: 700px;
    justify-content: center;
    align-items: center;
    // position: absolute;
    margin-left: 25%;
    // left:24%;
    margin-top: 20px;

}
.line{
    width: 100%;
    background-color:rgb(163, 219, 163);
    height: 5px;
    border-radius: 5px;
    padding-left: 100%;
}
.line1{
    width: 20px;
    background-color:rgb(163, 219, 163);
    height: 5px;
    border-radius: 5px;
    padding-left: 30%;
    transform: rotate(90deg);
    position: absolute;
    left: 90%;
    margin-top: -120px;
}
.services{
    margin-top: 30px;
}
.serve > img{
    width: 40%;
    background-color: red;
}