html {
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-LightItalic.ttf") format("truetype");
  font-weight: lighter;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts//OpenSans-SemiboldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

.paragraphText {
  line-height: 1.5rem;
  color: #353535;
}

.mainHeading {
  color: black;
  font-size: 3rem;
}

.carousel-inner {
  height: 90vh;
}

.carousel-inner .carousel-item {
  position: relative;
}

.carousel-inner .carousel-item .overlay {
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 88, 88, 0.322);
}

.heroImage {
  width: 100%;
  height: 50%;
  position: absolute;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

#first {
  background: url("../img/zion.jpeg"), rgba(0, 88, 88, 0.322);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#second {
  background: url("../img/zion2.gif");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center bottom;
}

@media screen and (max-width: 768px) {
  #second {
    background-position: center right;
  }
  #first {
    background-position: right bottom;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1;
  position: absolute;
  padding: 30px;
  width: 100%;
  top: 0;
  left: 0;
}

header .logo {
  height: 100%;
  margin-right: auto;
}

header .logo img {
  top: 50%;
  display: block;
  width: 140px;
  z-index: 2;
  position: relative;
}

header .headerTop {
  font-size: 14px;
  background: rgba(2, 129, 80, 0.753);
  top: 0;
  position: absolute;
  width: 100%;
  height: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
}

header .headerTop p {
  margin: 0 15px;
}

header .headerTop .heroTopSocials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

header .headerTop .heroTopSocials svg {
  margin-right: 10px;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  header .headerTop {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 13px;
    padding: 3px;
    text-align: center;
  }
  header .headerTop p {
    margin-bottom: 0;
  }
}

header .main-nav {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .main-nav .toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

header .main-nav ul {
  overflow: hidden;
  width: 100%;
  margin: 0;
}

header .main-nav ul li {
  position: relative;
  list-style-type: none;
  float: left;
}

header .main-nav ul li a {
  text-transform: uppercase;
  color: #020074;
  font-weight: bold;
}

header .main-nav ul li.active::after {
  position: absolute;
  bottom: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: '';
  background: #00af17;
  width: 25px;
  height: 3px;
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  header .main-nav {
    background: green;
    width: 50%;
    position: absolute;
    -webkit-animation: none;
            animation: none;
    right: 0;
  }
  header .main-nav ul {
    background: red;
    position: absolute;
    top: 0px;
    right: -100%;
  }
  header .main-nav ul li {
    display: block;
    float: none;
  }
  header .main-nav ul li::after {
    display: none;
  }
  header .toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .logo img {
    width: 120px;
  }
}

.hero-Content {
  position: relative;
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-Content .content {
  padding: 30px;
  color: white;
  text-align: center;
}

.hero-Content .content h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: serif;
}

.hero-Content .content p {
  font-size: 1.3rem;
  font-weight: 700;
}

.button {
  border-radius: 0;
  outline: none;
  background: none;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px;
}

#cta-btn {
  background: green;
  width: 150px;
  color: white;
  position: relative;
  font-weight: bold;
  border: 3px solid transparent;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#cta-btn:focus {
  outline: none;
}

#cta-btn:hover {
  border: 3px dashed white;
  opacity: 0.8;
}

.carousel-control-next,
.carousel-control-prev {
  height: 60%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.backToTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background: #020074;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  cursor: pointer;
}

/* About Us Section */
#aboutUs {
  background: #e1f3e1;
  padding: 80px 0;
}

.test h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
}

.test p {
  text-align: justify;
  line-height: 1.8rem;
  font-size: 18px;
  word-spacing: 3px;
}

.test img {
  width: 90%;
}

.line {
  width: 100%;
  background-color: #a3dba3;
  height: 5px;
  border-radius: 5px;
  padding-left: 100%;
}

.line1 {
  width: 220px;
  background-color: #a3dba3;
  height: 5px;
  border-radius: 5px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  left: 64%;
  margin-top: -120px;
}

.services {
  margin-top: 30px;
}

.serve > img {
  width: 40%;
}

.toggler {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.toggler .bar {
  width: 25px;
  height: 2px;
  background: white;
  margin-bottom: 4px;
}

.toggler .bar:nth-of-type(1) {
  width: 20px;
}

.toggler .bar:nth-of-type(3) {
  width: 16px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 65px 0 0 0;
  }
  .hero-Content .content h1 {
    font-size: 35px;
  }
  .hero-Content .content p {
    font-size: 16px;
  }
  .hero-Content .content button#cta-btn {
    width: 120px;
    height: 50px;
    font-size: 15px;
  }
  .test h1 {
    font-size: 30px;
    font-family: 'Open Sans';
    font-weight: bold;
    margin-bottom: 20px;
  }
  .test p {
    font-size: 16px;
  }
  .test img {
    width: 70%;
    margin: auto;
    display: block;
  }
  .backToTop {
    width: 30px;
    height: 30px;
    font-size: 15px;
    z-index: 5000;
  }
  #aboutUs {
    padding: 50px 0;
  }
}

.heading {
  position: relative;
}

.heading .underline {
  position: absolute;
  height: 3px;
  width: 100px;
  background: #00af17;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -10%;
}

.heading .underline .triangle {
  width: 15px;
  height: 15px;
  background: green;
  position: relative;
  top: -6px;
  left: 13px;
}

#ourServices {
  min-height: 80vh;
  margin-bottom: 50px;
  position: relative;
}

.service img {
  width: 100px;
  height: 100px;
}

#replacementHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  z-index: 1000;
  position: fixed;
  padding: 15px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  background: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  -webkit-box-shadow: 0px 3px 8px 2px gray;
          box-shadow: 0px 3px 8px 2px gray;
}

#replacementHeader .toggler .bar {
  background: green;
}

a.lightbox-stuff {
  display: block;
  width: 350px;
  height: 250px;
  border: 3px solid #020074;
  background-size: cover;
  text-decoration: none;
}

a.lightbox-stuff#one {
  background: url("../img/800px-Solar_panels_on_a_roof.jpg");
}

a.lightbox-stuff#four {
  background: url("../img/cctv to use.png");
  background-position: center right;
  background-size: contain;
}

a.lightbox-stuff#five {
  background: url("../img/zion-intercom.png");
}

a.lightbox-stuff#six {
  background: url("../img/zion-satellite.png") no-repeat;
  background-size: cover;
}

a.lightbox-stuff#three {
  background: url("../img/electric fence.jpeg");
  background-size: cover;
}

a.lightbox-stuff#two {
  background: url("../img/zion workers.jpg");
  background-size: cover;
}

a.lightbox-stuff .lightbox-text {
  opacity: 0;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a.lightbox-stuff:hover .lightbox-text {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#020074));
  background: linear-gradient(to bottom, transparent, #020074);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bolder;
  color: white;
  font-size: 22px;
}

section#contactUs {
  height: 90vh;
  width: 100%;
  background: #e1f3e1;
}

section#contactUs .heading {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

section#contactUs .form {
  padding: 30px;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#contactUs .form .left-image {
  position: relative;
}

section#contactUs .form .left-image svg {
  text-shadow: 0px 0px 5px gray;
  font-size: 230px;
  padding-right: 20px;
  color: green;
}

section#contactUs .form .main-form {
  border-left: 1px solid green;
  width: 80%;
  margin-left: auto;
  padding: 20px;
}

iframe {
  display: block;
}

@media screen and (max-width: 768px) {
  .tz-gallery div div a {
    margin: auto;
    width: 95%;
  }
}
/*# sourceMappingURL=styles.css.map */